<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customers List</title>
  </head>
  <body>
    <style>
      #table {
        width: 100%;
      }
      #table td,
      #table th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      #table tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      #table tr:hover {
        background-color: #ddd;
      }
      #table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: purple;
        color: white;
        font-family: sans-serif;
      }
    </style>
    <table id="table">
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Image</th>
        <th>Supplier</th>
        <th>Price</th>
        <th>Category</th>
      </tr>
      {%for product in products%}
      <tr>
        <td>{{product.product_name}}</td>
        <td>{{product.product_id}}</td>
        <td>{{product.image}}</td>
        <td>{{product.product_supplier}}</td>
        <td>{{product.product_price}}</td>
        <td>{{product.product_category}}</td>
      </tr>
      {%endfor%}
    </table>
  </body>
</html>